:root {
    /** 默认 light */
    --light-bg: var(--gray-1);
    --light-bg-hover: var(--gray-3);

    --light-titlebar: var(--gray-1);

    --light-text: var(--gray-13);
    --light-text-hover: var(--daybreak-blue);

    /** dark */
    --dark-bg: var(--gray-13);
    --dark-bg-hover: var(--gray-6);

    --dark-titlebar: var(--gray-13);

    --dark-text: var(--gray-1);
    --dark-text-hover: var(--daybreak-blue);
}
