@import url(/src/render/theme.less);

.@{class-prefix}chat {
    display: flex;
    height: calc(100vh - 150px);
    min-height: 500px;
    padding: 10px;
    &-right-panel {
        box-shadow: var(--box-shadow);
        flex: 1;
        display: flex;
        flex-direction: column;
        background: var(--gray-3);
        &-title {
            // flex: 0 0 30px;
            text-align: center;
            font-size: var(--l-font-size);
            padding: 10px 0;
        }
        &-lines {
            overflow: auto;
            flex: 1;
            // scroll-behavior: smooth;
            &-line {
                display: flex;
                margin: 10px 0;
                &-content {
                    margin: 0 10px;
                    display: flex;
                    padding: 4px;
                    border-radius: var(--l-border-radius);
                    flex-direction: column;
                    background: var(--gray-1);
                    &-time {
                        font-size: var(--s-font-size);
                        color: var(--gray-7);
                    }
                    &-msg {
                        font-size: var(--m-font-size);
                    }
                }
            }
            &-line-right {
                flex-direction: row-reverse;
                .@{class-prefix}chat-right-panel-lines-line-content {
                    background: var(--lime-nature);
                    span {
                        text-align: right;
                    }
                }
            }
        }
        &-send {
            flex: 0 0 200px;
            background: var(--gray-1);
            &-functions {
                padding: 10px;
                &-function {
                    margin: 0 10px;
                }
            }
        }
    }
    &-left-panel {
        flex: 0 0 300px;
        margin-right: 20px;
        box-shadow: var(--box-shadow);
        &-list {
            padding: 10px;
            &-friends-title {
                cursor: pointer;
            }
            &-search {
                cursor: pointer;
                & > strong {
                    color: var(--lime-nature);
                }
            }
        }
    }
}
