@import url(/src/render/theme.less);

.@{class-prefix}chat {
    display: flex;
    &-right-panel {
        flex: 1;
        padding: 10px;
        &-send {
        }
    }
    &-left-panel {
        flex: 0 0 300px;
        margin-right: 20px;
        padding: 10px;
        &-list {
            margin-top: 20px;
        }
    }
}
